<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ask.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <title>Hayohom - ask anything</title>
</head>
<body>
    <div id="spinner">
        <div class="spin">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
    </div>
    <!-- <div class="recorder">

    </div> -->
    
        <div class="sec1" id="sec1">
            <form class="ask" method="POST" action="Ask" onsubmit="showSpinner()">
                {% csrf_token %}
                <h1>satisfy your wonders...</h1>
                <p>ask anything you need to know about what's happening in saudi arabia.</p>
                <input type="text" name="query" value="{{query}}">
                <input type="submit" hidden />
            </form>
            
            {%if response%}
                <div class="answer" id="show">
                    <p>{{response}}</p>
                </div>
            {%endif%}
        </div>
</body>
<script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
<script>
    function showSpinner() {
        const spinner = document.getElementById("spinner")
        spinner.style.visibility = "visible"
    }


    var audioRecorder = {
    /** Stores the recorded audio as Blob objects of audio data as the recording continues*/
    audioBlobs: [],/*of type Blob[]*/
    /** Stores the reference of the MediaRecorder instance that handles the MediaStream when recording starts*/
    mediaRecorder: null, /*of type MediaRecorder*/
    /** Stores the reference to the stream currently capturing the audio*/
    streamBeingCaptured: null, /*of type MediaStream*/
    /** Start recording the audio 
     * @returns {Promise} - returns a promise that resolves if audio recording successfully started
     */
    start: function () {
        //Feature Detection
        if (!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia)) {
            //Feature is not supported in browser
            //return a custom error
            return Promise.reject(new Error('mediaDevices API or getUserMedia method is not supported in this browser.'));
        }

        else {
            //Feature is supported in browser

            //create an audio stream
            return navigator.mediaDevices.getUserMedia({ audio: true }/*of type MediaStreamConstraints*/)
                //returns a promise that resolves to the audio stream
                .then(stream /*of type MediaStream*/ => {

                    //save the reference of the stream to be able to stop it when necessary
                    audioRecorder.streamBeingCaptured = stream;

                    //create a media recorder instance by passing that stream into the MediaRecorder constructor
                    audioRecorder.mediaRecorder = new MediaRecorder(stream); /*the MediaRecorder interface of the MediaStream Recording
                    API provides functionality to easily record media*/

                    //clear previously saved audio Blobs, if any
                    audioRecorder.audioBlobs = [];

                    //add a dataavailable event listener in order to store the audio data Blobs when recording
                    audioRecorder.mediaRecorder.addEventListener("dataavailable", event => {
                        //store audio Blob object
                        audioRecorder.audioBlobs.push(event.data);
                    });

                    //start the recording by calling the start method on the media recorder
                    audioRecorder.mediaRecorder.start();
                });

            /* errors are not handled in the API because if its handled and the promise is chained, the .then after the catch will be executed*/
        }
    },
    /** Stop the started audio recording
     * @returns {Promise} - returns a promise that resolves to the audio as a blob file
     */
    stop: function () {
        //return a promise that would return the blob or URL of the recording
        return new Promise(resolve => {
            //save audio type to pass to set the Blob type
            let mimeType = audioRecorder.mediaRecorder.mimeType;

            //listen to the stop event in order to create & return a single Blob object
            audioRecorder.mediaRecorder.addEventListener("stop", () => {
                //create a single blob object, as we might have gathered a few Blob objects that needs to be joined as one
                let audioBlob = new Blob(audioRecorder.audioBlobs, { type : 'audio/mp3' });
                
                //resolve promise with the single audio blob representing the recorded audio
                resolve(audioBlob);
            });
            audioRecorder.cancel();
        });
    },
    /** Cancel audio recording*/
    cancel: function () {
        //stop the recording feature
        audioRecorder.mediaRecorder.stop();

        //stop all the tracks on the active stream in order to stop the stream
        audioRecorder.stopStream();

        //reset API properties for next recording
        audioRecorder.resetRecordingProperties();
    },
    /** Stop all the tracks on the active stream in order to stop the stream and remove
     * the red flashing dot showing in the tab
     */
    stopStream: function () {
        //stopping the capturing request by stopping all the tracks on the active stream
        audioRecorder.streamBeingCaptured.getTracks() //get all tracks from the stream
            .forEach(track /*of type MediaStreamTrack*/ => track.stop()); //stop each one
    },
    /** Reset all the recording properties including the media recorder and stream being captured*/
    resetRecordingProperties: function () {
        audioRecorder.mediaRecorder = null;
        audioRecorder.streamBeingCaptured = null;

        /*No need to remove event listeners attached to mediaRecorder as
        If a DOM element which is removed is reference-free (no references pointing to it), the element itself is picked
        up by the garbage collector as well as any event handlers/listeners associated with it.
        getEventListeners(audioRecorder.mediaRecorder) will return an empty array of events.*/
    }

}


function startAudioRecording() {

stopR = document.getElementById("stopR");
startT = document.getElementById("startR");
stopR.style.display = "block";
stopR.style.visibility = "visible";
startR.style.display = "none";
startR.style.visibility = "hidden";

//start recording using the audio recording API
audioRecorder.start()
    .then(() => { //on success

        //store the recording start time to display the elapsed time according to it
        audioRecordStartTime = new Date();
        console.log("Recording Audio...");

        //display control buttons to offer the functionality of stop and cancel
    })
    .catch(error => { //on error
        //No Browser Support Error
        if (error.message.includes("mediaDevices API or getUserMedia method is not supported in this browser.")) {
            console.log("To record audio, use browsers like Chrome and Firefox.");
        }

        //Error handling structure
        switch (error.name) {
            case 'AbortError': //error from navigator.mediaDevices.getUserMedia
                console.log("An AbortError has occured.");
                break;
            case 'NotAllowedError': //error from navigator.mediaDevices.getUserMedia
                console.log("A NotAllowedError has occured. User might have denied permission.");
                break;
            case 'NotFoundError': //error from navigator.mediaDevices.getUserMedia
                console.log("A NotFoundError has occured.");
                break;
            case 'NotReadableError': //error from navigator.mediaDevices.getUserMedia
                console.log("A NotReadableError has occured.");
                break;
            case 'SecurityError': //error from navigator.mediaDevices.getUserMedia or from the MediaRecorder.start
                console.log("A SecurityError has occured.");
                break;
            case 'TypeError': //error from navigator.mediaDevices.getUserMedia
                console.log("A TypeError has occured.");
                break;
            case 'InvalidStateError': //error from the MediaRecorder.start
                console.log("An InvalidStateError has occured.");
                break;
            case 'UnknownError': //error from the MediaRecorder.start
                console.log("An UnknownError has occured.");
                break;
            default:
                console.log("An error occured with the error name " + error.name);
        };
    });
}
/** Stop the currently started audio recording & sends it
*/

function stopAudioRecording() {

    $.ajaxSetup({
	beforeSend: function(xhr, settings) {

	 function getCookie(name) {
		 var cookieValue = null;
		 if (document.cookie && document.cookie != '') {
			 var cookies = document.cookie.split(';');
			 for (var i = 0; i < cookies.length; i++) {
				 var cookie = jQuery.trim(cookies[i]);
				 if (cookie.substring(0, name.length + 1) == (name + '=')) {
					 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					 break;
				 }
			 }
		 }
		 return cookieValue;
	 }
		 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	 
 }
});

//stop the recording using the audio recording API
audioRecorder.stop()
    .then(audioAsblob => {
        
        //Play recorder audio
        console.log("Stopping Audio Recording...");
        console.log(audioAsblob)
        
        var form    = new FormData();
        form.append("myAudio", audioAsblob);
        $.ajax({
            url: "http://127.0.0.1:8000/hayohom/Record",
            type: "POST",
            data: form,
            async: false,
            contentType: false,
            processData: false,
            success: () => {
                console.log("sent");
            },
            error: (error) => {
                console.log(error);
            }
            });

        //hide recording control button & return record icon
    })
    .catch(error => {
        //Error handling structure
        switch (error.name) {
            case 'InvalidStateError': //error from the MediaRecorder.stop
                console.log("An InvalidStateError has occured.");
                break;
            default:
                console.log("An error occured with the error name " + error);
        };
    });
}

/** Cancel the currently started audio recording */
function cancelAudioRecording() {
console.log("Canceling audio...");

//cancel the recording using the audio recording API
audioRecorder.cancel();

//hide recording control button & return record icon
}
    
</script>

</html>